.hero {
    height: 40.625rem;
    background-image: url(/images/mobile/image-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include breakpoint-up(medium) {
        background-image: url(/images/desktop/image-hero.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__wrapper {
        width: 100%;
    }

    &__content {
        max-width: 21.875rem;
        padding: 1.5rem;
        border: 2px solid $white;

        @include breakpoint-up(medium) {
            max-width: 30rem;
        }

        @include breakpoint-up(large) {
            max-width: 40.5rem;
        }

        & h1 {
            color: $white;
        }
    }
}